In [95]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [96]:
from matplotlib.pyplot import rcParams

rcParams['figure.figsize'] = 15, 10
rcParams["font.weight"] = "bold"
rcParams["axes.labelweight"] = "bold"
rcParams["font.size"] = 12

In [97]:
df_placas = pd.read_csv('placas_solares.csv')

df_placas

            date  Cumulative_solar_power  kWh electricity/day  Gas/day
0     26/10/2011                     0.1                 15.1      9.0
1     27/10/2011                    10.2                  7.4      9.2
2     28/10/2011                    20.2                  5.8      8.0
3     29/10/2011                    29.6                  4.9      6.6
4     30/10/2011                    34.2                 11.7      5.3
...          ...                     ...                  ...      ...
3299   6/11/2020                 36445.0                 16.0     11.0
3300   7/11/2020                 36453.0                 13.0     13.0
3301   8/11/2020                 36461.0                 12.0     11.0
3302   9/11/2020                 36466.0                 14.0     10.0
3303  10/11/2020                 36469.0                 14.0      9.0

[3304 rows x 4 columns]

In [98]:
df_placas.isna().sum()

date                      0
Cumulative_solar_power    0
kWh electricity/day       0
Gas/day                   0
dtype: int64

In [99]:
df_placas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3304 entries, 0 to 3303
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    3304 non-null   object
 1   Cumulative_solar_power  3304 non-null   float64
 2   kWh electricity/day     3304 non-null   float64
 3   Gas/day                 3304 non-null   float64
dtypes: float64(3), object(1)
memory usage: 103.4+ KB

In [100]:
df_placas["date"].isna()

0       False
1       False
2       False
3       False
4       False
        ...
3299    False
3300    False
3301    False
3302    False
3303    False
Name: date, Length: 3304, dtype: bool

In [101]:
df_placas["date"].isna().sum()

0

In [102]:
df_placas["date"][df_placas["date"].isna()]

Series([], Name: date, dtype: object)

In [103]:
df_placas[4:3300][["date", "Gas/day", "Cumulative_solar_power"]]

            date  Gas/day  Cumulative_solar_power
4     30/10/2011      5.3                    34.2
5     31/10/2011      5.7                    38.0
6      1/11/2011      5.3                    46.6
7      2/11/2011      5.4                    51.6
8      3/11/2011      7.6                    58.6
...          ...      ...                     ...
3295   2/11/2020      6.0                 36422.0
3296   3/11/2020      5.0                 36424.0
3297   4/11/2020      9.0                 36430.0
3298   5/11/2020     11.0                 36437.0
3299   6/11/2020     11.0                 36445.0

[3296 rows x 3 columns]

In [104]:
df_placas.drop(df_placas.dropna().index)

Empty DataFrame
Columns: [date, Cumulative_solar_power, kWh electricity/day, Gas/day]
Index: []

In [105]:
# No hay nada que limpiar
df_placas.shape[0] - 0

3304

In [106]:
df_solar_filt = df_placas.dropna().reset_index(drop=True)
df_solar_filt

            date  Cumulative_solar_power  kWh electricity/day  Gas/day
0     26/10/2011                     0.1                 15.1      9.0
1     27/10/2011                    10.2                  7.4      9.2
2     28/10/2011                    20.2                  5.8      8.0
3     29/10/2011                    29.6                  4.9      6.6
4     30/10/2011                    34.2                 11.7      5.3
...          ...                     ...                  ...      ...
3299   6/11/2020                 36445.0                 16.0     11.0
3300   7/11/2020                 36453.0                 13.0     13.0
3301   8/11/2020                 36461.0                 12.0     11.0
3302   9/11/2020                 36466.0                 14.0     10.0
3303  10/11/2020                 36469.0                 14.0      9.0

[3304 rows x 4 columns]

### Análisis exploratorio, tratamiento y limpieza de datos

In [107]:
df_solar_filt.describe()

       Cumulative_solar_power  kWh electricity/day      Gas/day
count             3304.000000          3304.000000  3304.000000
mean             17616.116435             4.585048     8.343705
std              10577.158537             9.856726     6.334102
min                  0.100000           -24.000000     0.000000
25%               8089.500000            -3.000000     2.000000
50%              17184.500000             6.000000     8.000000
75%              27116.500000            13.000000    13.000000
max              36469.000000            34.000000    29.000000

In [108]:
# consultar el tipo de datos
df_solar_filt.dtypes

date                       object
Cumulative_solar_power    float64
kWh electricity/day       float64
Gas/day                   float64
dtype: object

In [109]:
df_solar_filt.dtypes[df_solar_filt.dtypes == "object"]

date    object
dtype: object

In [110]:
# esto no hace falta
df_solar_filt['date'].value_counts()

date
26/10/2011    1
9/11/2017     1
30/10/2017    1
31/10/2017    1
1/11/2017     1
             ..
3/11/2014     1
4/11/2014     1
5/11/2014     1
6/11/2014     1
10/11/2020    1
Name: count, Length: 3304, dtype: int64

In [111]:
# eliminar la variable date al ser tipo objeto y meramente informativa
df_solar_filt.drop(['date'], axis=1)

      Cumulative_solar_power  kWh electricity/day  Gas/day
0                        0.1                 15.1      9.0
1                       10.2                  7.4      9.2
2                       20.2                  5.8      8.0
3                       29.6                  4.9      6.6
4                       34.2                 11.7      5.3
...                      ...                  ...      ...
3299                 36445.0                 16.0     11.0
3300                 36453.0                 13.0     13.0
3301                 36461.0                 12.0     11.0
3302                 36466.0                 14.0     10.0
3303                 36469.0                 14.0      9.0

[3304 rows x 3 columns]

In [112]:
df_solar_filt2 = df_solar_filt.drop(['date'], axis=1)
df_solar_filt2.dtypes.value_counts()

float64    3
Name: count, dtype: int64

### Reducción de variables
Importancia de variables

In [113]:
# generar la lista de features y la variable target
target = 'Cumulative_solar_power'
features = [x for x in df_solar_filt.columns if x != target]

print(target)
print(features)

Cumulative_solar_power
['date', 'kWh electricity/day', 'Gas/day']

In [114]:
df_solar_filt2[target]

0           0.1
1          10.2
2          20.2
3          29.6
4          34.2
         ...
3299    36445.0
3300    36453.0
3301    36461.0
3302    36466.0
3303    36469.0
Name: Cumulative_solar_power, Length: 3304, dtype: float64

In [115]:
# Importar el algoritmo de árboles de decisión
from sklearn.tree import DecisionTreeRegressor

# Asignar el algortimo e indicar la profundidad máxima del árbol (con un número rotandamente grande para sobreajustar)
arbol_importancia = DecisionTreeRegressor(max_depth=1000, random_state=42)

# Entrenar un árbol con todo el conjunto de datos
arbol_importancia.fit(X=df_solar_filt2[features], y=df_solar_filt2[target])

KeyError: "['date'] not in index"

In [116]:
# Comprobamos que se obtiene un R^2 muy alto. Lo desesable es que sea 1.
y_pred_arbol = arbol_importancia.predict(X=df_solar_filt2[features])

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# Métricas para evaluar la calidad del modelo
print('Mean Absolute Error:', mean_absolute_error(df_solar_filt2[target], y_pred_arbol))
print('Mean Absolute Percentage Error:', mean_absolute_percentage_error(df_solar_filt2[target], y_pred_arbol)*100)
print('Mean Squared Error:', mean_squared_error(df_solar_filt2[target], y_pred_arbol))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(df_solar_filt2[target], y_pred_arbol)))
print('R^2 coefficient of determination:', r2_score(df_solar_filt2[target], y_pred_arbol))

KeyError: "['date'] not in index"

In [117]:
# Importancias de cada variable en el árbol ajustado (Gini importance)
arbol_importancia.feature_importances_

NotFittedError: This DecisionTreeRegressor instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [118]:
# Creamos un DataFrame con los datos de importancia
importancia = pd.DataFrame(arbol_importancia.feature_importances_, index=features, columns=["Importancia"])

# Ordenamos los datos
importancia.sort_values(by=importancia.columns[0], ascending=False, inplace=True)
importancia

NotFittedError: This DecisionTreeRegressor instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [119]:
importancia["imp_acum"] = importancia["Importancia"].cumsum()
importancia

NameError: name 'importancia' is not defined

In [120]:
# Conjunto de variables más importantes
importancia.loc[importancia['imp_acum']<=0.85]

NameError: name 'importancia' is not defined

In [121]:
# Definimos la lista de variables no tan importantes, cortando por el porcentaje de 85% de la información necesaria
variables = importancia.loc[importancia['imp_acum']>0.85].index.to_list()
print(variables)

NameError: name 'importancia' is not defined

In [122]:
print(len(variables))

NameError: name 'variables' is not defined

In [ ]:
print("Variables iniciales: ", len(features))
print("Variables no importantes (a eliminar): ", len(variables))

Ahora podemos filtrar el tablón para quedarnos solamente con las variables más importantes.

In [ ]:
df_solar_filt3= df_solar_filt2.drop(labels=variables, axis='columns')
df_solar_filt3