In [58]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [59]:
from matplotlib.pyplot import rcParams

rcParams['figure.figsize'] = 15, 10
rcParams["font.weight"] = "bold"
rcParams["axes.labelweight"] = "bold"
rcParams["font.size"] = 12

In [60]:
df_placas = pd.read_excel('placas_solares.xlsx')

df_placas

,CENTRO,USO,Coordenada-X,Coordenada-Y,Latitud,Longitud,POTENCIA KWP,AÑO,MES,CÁLCULO,ENERGÍA PRODUCIDA KWh
0,MADRID EMPRENDE,administrativo,436689.0,4468938.0,40.368616,-3.74573026512817,10.0,2019,enero,Estimación,1004.400
1,MARES MADRID,administrativo,443153.0,4471330.0,40.390628,-3.669802,7.0,2019,enero,Estimación,703.080
2,NAVE BOETTICHER,administrativo,440849.0,4466524.0,40.347177,-3.696499,5.0,2019,enero,Estimación,502.200
3,AULA DE LA NATURALEZA DEHESA DE LA VILLA,medioambiental,439102.0,4478967.0,40.459141,-3.718270563679260,2.5,2019,enero,Estimación,251.100
4,VIVERO MUNICIPAL DE ESTUFAS DEL RETIRO,medioambiental,441779.0,4473428.0,40.409435,-3.6861797800993200,5.0,2019,enero,Estimación,502.200
...,...,...,...,...,...,...,...,...,...,...,...
4973,OAIC SACRAMENTO AGENCIA TRIBUTARIA,administrativo,439688.2,4474009.8,40.414526,-3.7108752639004567,8.0,2023,marzo,Estimación,1330.272
4974,BASE SAMUR 4,sanitario,445135.7,4475423.6,40.427640,-3.6467931482127414,2.0,2023,marzo,Estimación,332.568
4975,Vivero de la Casa de Campo,medioambiental,438625.6,4474696.0,40.420630,-3.723464689280627,NaN,2023,marzo,Medición,681.000
4976,CMM SAN DIEGO,social,443704.6,4471139.1,40.388947,-3.6630476297262975,10.0,2023,marzo,Estimación,1662.840
4977,CSS CENTRO DE DÍA Y ALZHEIMER ENSANCHE DE VALL...,social,449246.7,4468156.3,40.362464,-3.597762173364828,8.0,2023,marzo,Estimación,1330.272

In [61]:
df_placas.isna().sum() # Verificando los valores nulos

CENTRO                   1
USO                      1
Coordenada-X             1
Coordenada-Y             1
Latitud                  1
Longitud                 1
POTENCIA KWP             3
AÑO                      0
MES                      0
CÁLCULO                  0
ENERGÍA PRODUCIDA KWh    0
dtype: int64

In [62]:
df_placas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4978 entries, 0 to 4977
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CENTRO                 4977 non-null   object
 1   USO                    4977 non-null   object
 2   Coordenada-X           4977 non-null   float64
 3   Coordenada-Y           4977 non-null   float64
 4   Latitud                4977 non-null   float64
 5   Longitud               4977 non-null   object
 6   POTENCIA KWP           4975 non-null   float64
 7   AÑO                    4978 non-null   int64
 8   MES                    4978 non-null   object
 9   CÁLCULO                4978 non-null   object
 10  ENERGÍA PRODUCIDA KWh  4978 non-null   float64
dtypes: float64(5), int64(1), object(5)
memory usage: 427.9+ KB

In [63]:
df_placas["MES"].isna()

0       False
1       False
2       False
3       False
4       False
        ...
4973    False
4974    False
4975    False
4976    False
4977    False
Name: MES, Length: 4978, dtype: bool

In [64]:
df_placas["MES"].isna().sum()

0

In [65]:
df_placas["MES"][df_placas["MES"].isna()]

Series([], Name: MES, dtype: object)

In [66]:
df_placas[4:3300][["CENTRO", "USO", "AÑO", "MES","CÁLCULO"]]

,CENTRO,USO,AÑO,MES,CÁLCULO
4,VIVERO MUNICIPAL DE ESTUFAS DEL RETIRO,medioambiental,2019,enero,Estimación
5,VIVERO MUNICIPAL DE MIGAS CALIENTES,medioambiental,2019,enero,Estimación
6,ROSALEDA DEL PARQUE DEL OESTE,medioambiental,2019,enero,Estimación
7,UID VILLA DE VALLECAS,seguridad,2019,enero,Estimación
8,BASE 14 SAMUR,sanitario,2019,enero,Estimación
...,...,...,...,...,...
3295,UID VILLA DE VALLECAS,seguridad,2022,enero,Estimación
3296,BASE 14 SAMUR,sanitario,2022,enero,Estimación
3297,CENTRO PROTECCIÓN ANIMAL,sanitario,2022,enero,Estimación
3298,PARQUE BOMBEROS Nº 6,seguridad,2022,enero,Estimación
3299,PARQUE DE BOMBEROS Nº 7,seguridad,2022,enero,Estimación

In [67]:
df_placas.drop(df_placas.dropna().index)

,CENTRO,USO,Coordenada-X,Coordenada-Y,Latitud,Longitud,POTENCIA KWP,AÑO,MES,CÁLCULO,ENERGÍA PRODUCIDA KWh
3076,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2021,noviembre,Estimación,748.44
4727,Vivero de la Casa de Campo,medioambiental,438625.6,4474696.0,40.42063,-3.723464689280627,NaN,2023,enero,Medición,345.00
4850,Vivero de la Casa de Campo,medioambiental,438625.6,4474696.0,40.42063,-3.723464689280627,NaN,2023,febrero,Medición,448.00
4975,Vivero de la Casa de Campo,medioambiental,438625.6,4474696.0,40.42063,-3.723464689280627,NaN,2023,marzo,Medición,681.00

In [68]:

df_placas.shape[0] - 5

4973

In [69]:
df_solar_filt = df_placas.dropna().reset_index(drop=True)
df_solar_filt

,CENTRO,USO,Coordenada-X,Coordenada-Y,Latitud,Longitud,POTENCIA KWP,AÑO,MES,CÁLCULO,ENERGÍA PRODUCIDA KWh
0,MADRID EMPRENDE,administrativo,436689.0,4468938.0,40.368616,-3.74573026512817,10.0,2019,enero,Estimación,1004.400000
1,MARES MADRID,administrativo,443153.0,4471330.0,40.390628,-3.669802,7.0,2019,enero,Estimación,703.080000
2,NAVE BOETTICHER,administrativo,440849.0,4466524.0,40.347177,-3.696499,5.0,2019,enero,Estimación,502.200000
3,AULA DE LA NATURALEZA DEHESA DE LA VILLA,medioambiental,439102.0,4478967.0,40.459141,-3.718270563679260,2.5,2019,enero,Estimación,251.100000
4,VIVERO MUNICIPAL DE ESTUFAS DEL RETIRO,medioambiental,441779.0,4473428.0,40.409435,-3.6861797800993200,5.0,2019,enero,Estimación,502.200000
...,...,...,...,...,...,...,...,...,...,...,...
4969,CDM HORTALEZA,deportivo,444781.7,4481144.5,40.479153,-3.6514634536929598,99.4,2023,marzo,Medición,11249.600586
4970,OAIC SACRAMENTO AGENCIA TRIBUTARIA,administrativo,439688.2,4474009.8,40.414526,-3.7108752639004567,8.0,2023,marzo,Estimación,1330.272000
4971,BASE SAMUR 4,sanitario,445135.7,4475423.6,40.427640,-3.6467931482127414,2.0,2023,marzo,Estimación,332.568000
4972,CMM SAN DIEGO,social,443704.6,4471139.1,40.388947,-3.6630476297262975,10.0,2023,marzo,Estimación,1662.840000
4973,CSS CENTRO DE DÍA Y ALZHEIMER ENSANCHE DE VALL...,social,449246.7,4468156.3,40.362464,-3.597762173364828,8.0,2023,marzo,Estimación,1330.272000

### Análisis exploratorio, tratamiento y limpieza de datos

In [70]:
df_solar_filt.describe()

,Coordenada-X,Coordenada-Y,Latitud,POTENCIA KWP,AÑO,ENERGÍA PRODUCIDA KWh
count,4974.000000,4.974000e+03,4974.000000,4974.000000,4974.000000,4974.000000
mean,442288.822698,4.473026e+06,40.405668,16.767740,2020.822477,2289.351661
std,7463.014880,6.360208e+04,0.574529,16.312776,1.221024,2417.797171
min,0.000000,0.000000e+00,0.000000,2.000000,2019.000000,-13.200000
25%,439603.000000,4.470233e+06,40.379399,7.000000,2020.000000,885.600000
50%,442243.000000,4.473366e+06,40.409341,12.000000,2021.000000,1506.111750
75%,445584.000000,4.476508e+06,40.436863,20.000000,2022.000000,2853.687500
max,451431.000000,4.484225e+06,40.506657,100.000000,2023.000000,23800.000000

In [71]:
# consultar el tipo de datos
df_solar_filt.dtypes

CENTRO                    object
USO                       object
Coordenada-X             float64
Coordenada-Y             float64
Latitud                  float64
Longitud                  object
POTENCIA KWP             float64
AÑO                        int64
MES                       object
CÁLCULO                   object
ENERGÍA PRODUCIDA KWh    float64
dtype: object

In [72]:
df_solar_filt.dtypes[df_solar_filt.dtypes == "object"]

CENTRO      object
USO         object
Longitud    object
MES         object
CÁLCULO     object
dtype: object

In [73]:

df_solar_filt['CENTRO'].value_counts()

CENTRO
MADRID EMPRENDE                                       51
CENTRO DE ACOGIDA MUNICIPAL PUERTA ABIERTA            51
CC EDUARDO CHILLIDA Y BIBLIOTECA MIGUEL DELIBES       51
EI SABINA (MORATALAZ)                                 51
CMM/CENTRO DIA/CSS LA GUINDALERA                      51
                                                      ..
CDM ENTREVIAS                                          3
BASE SAMUR 4                                           3
CMM SAN DIEGO                                          2
CSS CENTRO DE DÍA Y ALZHEIMER ENSANCHE DE VALLECAS     2
0                                                      1
Name: count, Length: 138, dtype: int64

In [74]:
df_solar_filt['USO'].value_counts()

USO
cultural          1028
social             865
deportivo          829
educativo          784
administrativo     542
mixto              291
seguridad          266
medioambiental     204
sanitario          116
almacén             39
deportivo            9
0                    1
Name: count, dtype: int64

In [75]:
# columnas a eliminar por ser informativas
columnas_drop = ["CENTRO", "USO", "AÑO", "MES", "CÁLCULO"]

In [76]:
df_solar_filt2 = df_solar_filt.drop(columns = columnas_drop)
print("Tamaño del tablón filtrado: ", df_solar_filt.shape)
print("Tamaño del tablón nuevo: ", df_solar_filt2.shape)

Tamaño del tablón filtrado:  (4974, 11)
Tamaño del tablón nuevo:  (4974, 6)

In [77]:
df_solar_filt2.dtypes.value_counts()

float64    5
object     1
Name: count, dtype: int64

In [78]:
df_solar_filt2["Longitud"].value_counts()

Longitud
-3.74573026512817      51
-3.621281890570370     51
-3.6662090478322400    51
-3.6691167784691700    51
-3.6709293330780200    51
                       ..
-3.6731747821526333     3
-3.6630476297262975     2
-3.597762173364828      2
-3.614247419127         1
0                       1
Name: count, Length: 128, dtype: int64

In [93]:
from sklearn.preprocessing import LabelEncoder
etiquetado = LabelEncoder()
etiquetado.fit(df_solar_filt2["Longitud"])

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['float', 'int', 'str']

In [ ]:
etiquetado.classes_

array(['-3-6142474191270000', '-3.572741163820910', '-3.5796914517468600',
       '-3.5936877657335900', '-3.597144', '-3.597762173364828',
       '-3.601441011212612', '-3.602926', '-3.603264732850390',
       '-3.6059845330840700', '-3.6086161200017100',
       '-3.6096102461466000', '-3.6110021948964400',
       '-3.6154373664644300', '-3.6196258294576600', '-3.62038557307297',
       '-3.6212400484216900', '-3.621281890570370', '-3.621454785869900',
       '-3.621679', '-3.6227296605039500', '-3.622901144863190',
       '-3.6239189412211400', '-3.6275877145025800', '-3.628588601009720',
       '-3.630877', '-3.632432290214530', '-3.636977491626700',
       '-3.6413497414718700', '-3.641900373589660', '-3.6467931482127414',
       '-3.649947', '-3.6504253324201100', '-3.650568266584690',
       '-3.6514634536929598', '-3.651841641389480', '-3.6531308970881300',
       '-3.653214777359330', '-3.655261744717250', '-3.6569793922460585',
       '-3.6571542769919400', '-3.6580402287911900',
       '-3.6585711797466800', '-3.6620047814552548',
       '-3.6630476297262975', '-3.6641000254946223', '-3.665083966588480',
       '-3.665205626185560', '-3.6662090478322400', '-3.6677240367753100',
       '-3.667774590446810', '-3.669067772820540', '-3.6691167784691700',
       '-3.6691267410574400', '-3.669802', '-3.6709293330780200',
       '-3.6731747821526333', '-3.6737662524006700', '-3.674350860475640',
       '-3.676283', '-3.677163', '-3.6773064421969200',
       '-3.67954186336266', '-3.6795930368034800', '-3.680551491708350',
       '-3.685391155439890', '-3.6861797800993200', '-3.686595141820630',
       '-3.690036112299879', '-3.691341060146100', '-3.691528804696940',
       '-3.6925563084154103', '-3.693540659747280', '-3.6940501846610800',
       '-3.694447', '-3.6953256978963800', '-3.6955325387824000',
       '-3.696499', '-3.697052144961610', '-3.6976620067964900',
       '-3.6994689006077400', '-3.700129656851360', '-3.700809560921590',
       '-3.701141063083800', '-3.704068831577452', '-3.7048331023156282',
       '-3.7065496222694200', '-3.708785', '-3.7097392943348200',
       '-3.7098591212735800', '-3.710522', '-3.7107515747822300',
       '-3.7108752639004567', '-3.71120030905872', '-3.711260959329783',
       '-3.7113107961759493', '-3.7144222564719800',
       '-3.7151818881165200', '-3.715308', '-3.716607833008470',
       '-3.7173807221939100', '-3.7178413073202800', '-3.718270563679260',
       '-3.7211192200565475', '-3.721771', '-3.72286', '-3.724127',
       '-3.727740326743950', '-3.7295712734839443', '-3.733391',
       '-3.7352725040539500', '-3.7353834506869200',
       '-3.7369645992831300', '-3.7381715230490400', '-3.741639735552090',
       '-3.741656241718050', '-3.74573026512817', '-3.7468729354018295',
       '-3.7510337449848600', '-3.756554762411960', '-3.7653019593724200',
       '-3.765466', '-3.7664885474841500', '-3.776049860378440',
       '-3.778110067286680', '-37107292315735900'], dtype=object)

In [ ]:
#ver que valores hay nulos
df_solar_filt2['Longitud'].isnull().sum()

0

In [ ]:
etiquetado.transform(df_solar_filt2["Longitud"])
# obtenemos un array de numpy de tipo enteros

array([116,  54,  77, ...,  30,  44,   5])

In [ ]:
#comprobar que estos valores tienen una relación con la columna anterior
df_solar_filt2["Longitud_etiquetado"] = etiquetado.transform(df_solar_filt2["Longitud"])

# mostrar la relación con los datos originales
df_solar_filt2.groupby(["Longitud", "Longitud_etiquetado"]).count()

,,Coordenada-X,Coordenada-Y,Latitud,POTENCIA KWP,ENERGÍA PRODUCIDA KWh
Longitud,Longitud_etiquetado,,,,,
-3-6142474191270000,0,46,46,46,46,46
-3.572741163820910,1,51,51,51,51,51
-3.5796914517468600,2,49,49,49,49,49
-3.5936877657335900,3,51,51,51,51,51
-3.597144,4,39,39,39,39,39
...,...,...,...,...,...,...
-3.765466,121,51,51,51,51,51
-3.7664885474841500,122,45,45,45,45,45
-3.776049860378440,123,51,51,51,51,51
-3.778110067286680,124,51,51,51,51,51
-37107292315735900,125,28,28,28,28,28

In [ ]:
df_solar_filt3 = df_solar_filt2.drop(columns = ["Longitud"])

### Reducción de variables
Importancia de variables

In [ ]:
# generar la lista de features y la variable target
target = 'ENERGÍA PRODUCIDA KWh'
features = [x for x in df_solar_filt3.columns if x != target]

print(target)
print(features)

ENERGÍA PRODUCIDA KWh
['Coordenada-X', 'Coordenada-Y', 'Latitud', 'POTENCIA KWP']

In [ ]:
df_solar_filt3[target]

0        1004.400000
1         703.080000
2         502.200000
3         251.100000
4         502.200000
            ...
4969    11249.600586
4970     1330.272000
4971      332.568000
4972     1662.840000
4973     1330.272000
Name: ENERGÍA PRODUCIDA KWh, Length: 4974, dtype: float64

In [80]:
# Importar el algoritmo de árboles de decisión
from sklearn.tree import DecisionTreeRegressor

# Asignar el algortimo e indicar la profundidad máxima del árbol (con un número rotandamente grande para sobreajustar)
arbol_importancia = DecisionTreeRegressor(max_depth=len(features)+10, random_state=42)

# Entrenar un árbol con todo el conjunto de datos
arbol_importancia.fit(X=df_solar_filt3[features], y=df_solar_filt3[target])

DecisionTreeRegressor(max_depth=14, random_state=42)

In [81]:
# Comprobamos que se obtiene un R^2 muy alto. Lo desesable es que sea 1.
y_pred_arbol = arbol_importancia.predict(X=df_solar_filt3[features])

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

# Métricas para evaluar la calidad del modelo
print('Mean Absolute Error:', mean_absolute_error(df_solar_filt3[target], y_pred_arbol))
print('Mean Absolute Percentage Error:', mean_absolute_percentage_error(df_solar_filt3[target], y_pred_arbol)*100)
print('Mean Squared Error:', mean_squared_error(df_solar_filt3[target], y_pred_arbol))
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(df_solar_filt3[target], y_pred_arbol)))
print('R^2 coefficient of determination:', r2_score(df_solar_filt3[target], y_pred_arbol))

Mean Absolute Error: 685.7148392571211
Mean Absolute Percentage Error: 6.106283488183685e+17
Mean Squared Error: 1324732.3545046279
Root Mean Squared Error: 1150.9701796765319
R^2 coefficient of determination: 0.7733395560933768

In [82]:
# Importancias de cada variable en el árbol ajustado (Gini importance)
arbol_importancia.feature_importances_

array([0.0302073 , 0.00549908, 0.00970697, 0.95458665])

In [83]:
# Creamos un DataFrame con los datos de importancia
importancia = pd.DataFrame(arbol_importancia.feature_importances_, index=features, columns=["Importancia"])

# Ordenamos los datos
importancia.sort_values(by=importancia.columns[0], ascending=False, inplace=True)
importancia

              Importancia
POTENCIA KWP     0.954587
Coordenada-X     0.030207
Latitud          0.009707
Coordenada-Y     0.005499

In [84]:
importancia["imp_acum"] = importancia["Importancia"].cumsum()
importancia

              Importancia  imp_acum
POTENCIA KWP     0.954587  0.954587
Coordenada-X     0.030207  0.984794
Latitud          0.009707  0.994501
Coordenada-Y     0.005499  1.000000

In [85]:
# Conjunto de variables más importantes
importancia.loc[importancia['imp_acum']<=0.90]

Empty DataFrame
Columns: [Importancia, imp_acum]
Index: []

In [87]:
variables = importancia.loc[importancia['imp_acum']>0.90].index.to_list()
print(variables)

['POTENCIA KWP', 'Coordenada-X', 'Latitud', 'Coordenada-Y']

Todas ls variables tienen importancia, no eliminamos ninguna.

TAblón final con las variables con importancia.

In [92]:
df_solar_filt3

,Coordenada-X,Coordenada-Y,Latitud,POTENCIA KWP,ENERGÍA PRODUCIDA KWh
0,436689.0,4468938.0,40.368616,10.0,1004.400000
1,443153.0,4471330.0,40.390628,7.0,703.080000
2,440849.0,4466524.0,40.347177,5.0,502.200000
3,439102.0,4478967.0,40.459141,2.5,251.100000
4,441779.0,4473428.0,40.409435,5.0,502.200000
...,...,...,...,...,...
4969,444781.7,4481144.5,40.479153,99.4,11249.600586
4970,439688.2,4474009.8,40.414526,8.0,1330.272000
4971,445135.7,4475423.6,40.427640,2.0,332.568000
4972,443704.6,4471139.1,40.388947,10.0,1662.840000
4973,449246.7,4468156.3,40.362464,8.0,1330.272000